:root {
    color-scheme: light dark;
}

body {
    width: 300px;
    height: 300px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 5px 0;

    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: #0078d4;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.button:active {
  background: #629ce8;
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 10px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.ai-summary-text {
    display: none;
    white-space: pre-wrap;
    text-align: left;
}

.header {
    width: 100%;
    position: relative;
  }
  
  .wrapper {
    width: 100%;
    position: relative;
    margin: 30px 0;
  }
  
  .logo {
    display: flex;
  }
  
  /*.logo img {
    width: 80px;
  }*/
  
  .header-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: xx-large;
    font-weight: bold;
  }

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
